<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iloveyesterday.mobile.dao.ReviewMapper">
  <resultMap id="BaseResultMap" type="iloveyesterday.mobile.pojo.Review">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="order_item_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="user_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="star" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="images" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="detail" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, order_item_id, user_id, star, images, detail, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mobile_review
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mobile_review
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="iloveyesterday.mobile.pojo.Review">
    insert into mobile_review (id, order_item_id, user_id, 
      star, images, detail, 
      status, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{orderItemId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{star,jdbcType=INTEGER}, #{images,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="iloveyesterday.mobile.pojo.Review">
    insert into mobile_review
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderItemId != null">
        order_item_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="star != null">
        star,
      </if>
      <if test="images != null">
        images,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderItemId != null">
        #{orderItemId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="star != null">
        #{star,jdbcType=INTEGER},
      </if>
      <if test="images != null">
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="updateTime != null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="iloveyesterday.mobile.pojo.Review">
    update mobile_review
    <set>
      <if test="orderItemId != null">
        order_item_id = #{orderItemId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="star != null">
        star = #{star,jdbcType=INTEGER},
      </if>
      <if test="images != null">
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="iloveyesterday.mobile.pojo.Review">
    update mobile_review
    set order_item_id = #{orderItemId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      star = #{star,jdbcType=INTEGER},
      images = #{images,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      update_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>